.navbar {
    background-color: #333; /* Cor de fundo da barra de navegação */
    padding: 10px 0; /* Espaçamento interno */
  }
  
  .navbar-container {
    max-width: 1200px; /* Largura máxima da barra de navegação */
    margin: 0 auto; /* Centralizar a barra de navegação */
    display: flex;
    justify-content: space-around; /* Distribuir os itens uniformemente */
  }
  
  .navbar-item {
    color: white; /* Cor do texto dos links */
    text-decoration: none; /* Remover sublinhado dos links */
    transition: background-color 0.3s; /* Transição suave do fundo ao passar o mouse */
    padding: 8px 15px; /* Espaçamento interno dos itens */
  }
  
  .navbar-item:hover {
    background-image: linear-gradient(#207f16, #103f0b); /* Gradiente suave ao passar o mouse */
  }
  